APP_NAME=Laravel
APP_ENV=production
APP_KEY=${APP_KEY}
APP_DEBUG=true
APP_URL=https://pibigdata-production-83cb.up.railway.app

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=caboose.proxy.rlwy.net
DB_PORT=36575
DB_DATABASE=railway
DB_USERNAME=postgres
DB_PASSWORD=CsOQcmVGWvMNhuDFStcdTRYwsMCLJHSL

CACHE_STORE=database
QUEUE_CONNECTION=database
SESSION_DRIVER=database
SESSION_LIFETIME=120

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

RECOMMENDER_SERVICE_URL=http://recommender:8001
FRONTEND_URL=https://pibigdata-production-83cb.up.railway.app

# 🚀 Porta fixa
PORT=8080