APP_NAME=Laravel
APP_ENV=production
APP_DEBUG=true
APP_KEY=base64:8kvXeZHAtVVSnDCyKvCX8gJ+lrqM+gaSoK3r1/3tmBM=
APP_URL=https://pibigdata-production-3c8e.up.railway.app

DB_CONNECTION=pgsql
DB_HOST=shinkansen.proxy.rlwy.net
DB_PORT=43572
DB_DATABASE=railway
DB_USERNAME=postgres
DB_PASSWORD=CsOQcmVGWvMNhuDFStcdTRYwsMCLJHSL
DATABASE_URL=""

SESSION_DRIVER=file
CACHE_DRIVER=file
QUEUE_CONNECTION=sync

PORT=8080