venv/
gamefinder-venv/
.env/
.venv/

node_modules/

.ipynb_checkpoints/

*.csv
*.tsv
*.parquet
*.db
*.sqlite

/venv
__pycache__
*.pyc
.env

recommendation-service/etl/data/*.json
recommendation-service/etl/data/*.csv
ESPECIFICACAO_GAMEFINDER.md